
<ion-view hide-nav-bar="true">
<button class="button button-icon button-clear ion-navicon menu-circle-button" menu-toggle="left"></button
  <ion-nav-title>
	<!-- {{title}} -->
  </ion-nav-title>
  
  <ion-nav-buttons side="primary">
      <button ng-show="isPrivate" class="button button-clear button-icon ion-android-add" ng-click="addPrivateApp()"></button>
      </button>
    </ion-nav-buttons>
  <ion-content>
   <ion-refresher
    pulling-text="משוך כדי לרענן..."
    on-refresh="doRefresh()">
  </ion-refresher>
	<button class="button button-icon button-clear ion-navicon add-private-app" ng-click="addPrivateApp()" ng-show="isPrivate">+</button>
	<div>
		<a ng-click="openBrowser()"><div class="logo" ></div></a>
	</div>
	<div class="bar-top" dir="rtl">
        <a class="button button-clear button-footer" ng-class="{true:'', false:'selected'}[isPrivate]" href="#/app/clients/true">קליק אישי</a>
        <a class="button button-clear button-footer" ng-class="{true:'selected', false:''}[isPrivate]" href="#/app/clients/false">שיחה בקליק</a>
    </div>
	<div class='search'>
		<input class="search_text" type="text" ng-show="search.show" ng-model="search.txt" dir="rtl" />
		<button class="button button-icon button-clear ion-navicon" ng-click="toggleSearch()"></button>
	</div>
    <div class="row gallery" layout layout-wrap layout-align="center" >
      <div class="card  card-item"  ng-click="showTenantsPopup(item)" ng-repeat="item in items | filter: { name: search.txt }" ng-last-repeat="clientlist" >

			<div class="box" >
			  <img ng-src="{{item.image ? item.image : 'img/phone.png'}}">
			</div>
			<p>{{item.name}}</p>

       <!--  <div class="item card-title">
          <a>{{item.name}}</a>
        </div> -->
      </div>
	  <p ng-show="items && items.length <= 0">לא קיימים מוקדים להצגה</p>
    </div>

  </ion-content>
    <!--<div class="bar bar-footer">-->
	
      <div class="bar bar-footer" ng-hide="isOnline">
         <div class="title"> נראה שאין רשת, לא ניתן לבצע שיחות כעת</div>
    </div>

</ion-view>
