.item.item-divider {
    border-top: solid 1px rgba(0, 0, 0, .12);
    font-size: 6px;
    font-weight: 700;
    height: 0;
    line-height: 0;
    min-height: 0;
    padding: 0;
    color: rgba(0, 0, 0, .54);
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    opacity: 0;
}

.bar {
    background-color: #AAAAAA;
}

.item-image {
    padding: 0;
    height: 100px;
    text-align: center;
}

.small {
    width: 100px;
    height: 125px;
}

.item h2 {
    text-align: center;
}

.items-list {
    display: inline;
    align-content: center;
}

.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.item.box {
    padding: 5px;
}

.popuplink {
    text-align: center;
    margin: 5px;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
}

.platform-android .bar .title {
    text-align: center;
}

.bar .button-footer {
    /*padding: 10px;*/
    width: 50%!important;
    max-width: 100%;
    top: 5px;
    bottom: 5px;
}

.popup-input {
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
}

.card-item {
    width: 100px;
    height: 100px;
}

.card-title {
    direction: rtl;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
}

.alert-text {
    font-size: 15px;
    margin: 5px;
}

ion-slides {
    direction: rtl;
}

.intro-input {
    font-size: 2em!important;
    width: 100%;
}

.popup-buttons {
    direction: rtl;
    flex-wrap: wrap;
}

.popup-buttons .button {
    direction: rtl;
    padding: 0;
    margin-right: 5px!important;
}

.popup-buttons .button:first-child {
    margin-right: 0px!important;
}

.right_arrow {
    margin-top: 15px;
}

.popup.button {
    text-align: center;
}

.left_arrow {
    margin-top: 15px;
}


/* ------- SEARCH ----*/

.searchBar {
    color: #fff;
    margin: 0 !important;
    padding: 0;
}

.searchBar .icon {
    font-size: 35px;
    line-height: 1.2;
    padding-right: 6px;
    padding-left: 6px;
}

.searchBar .searchTxt {
    border-bottom: 1px solid #fff;
    left: 50px;
    width: calc(100% - 100px);
    position: fixed;
    height: 100%;
}

.searchBar.numicons2 .searchTxt {
    width: calc(100% - 90px);
}

.searchBar .searchTxt > .bgdiv {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    /*opacity: 0.3;*/
}

.searchBar .searchTxt > .bgtxt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    direction: rtl;
}

.searchBar .searchTxt input {
    background-color: inherit;
    color: #5e5e5e;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.popup-body {
    padding: 0;
    direction: rtl;
}

.popup-head {
    padding-bottom: 0;
    direction: rtl;
}

p.popup-right {
    color: #000;
    text-align: right;
}

span.popup-left {
    color: #555;
    font-size: 0.8em;
    display: inline-block;
    margin-left: 5px;
    float: left;
}
